torch

langchain
langchain-community 
langchain-text-splitters 
langchain-openai
pandas 
pypdf 
chromadb 
rapidfuzz
olefile

pdf2image 
pillow 
opencv-python 
pytesseract

qdrant-client
langchain-qdrant
rank-bm25