langchain
langchain-community
langchain-text-splitters
langchain-openai
pandas
pypdf
chromadb
langchain-chroma
rapidfuzz
olefile
pyhwp
python-docx
rank_bm25
pyyaml
tqdm
numpy
flashrank
streamlit
python-dotenv
pysqlite3-binary # For ChromaDB on Streamlit Cloud